.minimal-button {
  background-color: #000;
  color: #FBFBFB;
  text-decoration: none;
  display: block;
  padding: 1em;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.minimal-button:hover {
  background-color: transparent;
  color: #000;
  border: solid thin #000;
}
